.jumbotron{ margin-bottom: 0px;}
.container{    margin: 35px 10px;}
p.align-justify{text-align: justify; }
p.align-center{text-align: center; }
p.small{ font-size: 0.7em; }
.color-white{color: white;}
footer{ padding: 10px;}
footer p {margin-bottom: 0px;}